.main{
    width: 100%;
    border: 2px solid rgb(206, 199, 199);
}
.main>input{
    width: 99%;
    height: 26px;
    border: 2px solid rgb(0, 0, 0);
}
.head{
    display: flex;
 }
.head>h4{
    width: 100%;
    border: 1px solid rgb(126, 140, 121);
}